<header role="banner">
<div class="container">
  <a class="banner-brand" href="<%= root_path %>">
    <img src="<%= image_path("logo.png") %>" alt="Bootstrappin'" width="120">
  </a>

  <ul class="main-nav nav nav-pills" role="tablist">
    <% if user_signed_in? %>
    <li role="presentation">
      <%= link_to edit_user_registration_path do %>
        <i class="fa fa-pencil fa-lg"></i><span> 账户信息</span>
      <% end %>
    </li>

    <li role="presentation">
      <%= link_to destroy_user_session_path, method: 'delete' do %>
        <i class="fa fa-external-link fa-lg"></i><span> 退出</span>
      <% end %>
    </li>
    <% end %>
 
    <li role="presentation">
      <%= link_to new_user_session_path do %>
        <i class="fa fa-user fa-lg"></i><span> 登录</span>
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to new_user_registration_path do %>
        <i class="fa fa-users fa-lg"></i><span> 注册</span>
      <% end %>
    </li>
  </ul>
</div>
</header>
