<% unless isWelcome? %>
<header role="banner" id="set-background-color">
<% else %>
<header role="banner">
<% end %>
  <div class="container">
    <h1 class="pull-left">
      <a href="<%= root_path %>">
        <img src="<%= image_path("bunkr-logo-white.png") %>" alt="Bunkr">
      </a>
    </h1>

    <nav class="main-nav pull-right" role="tablist">
      <% if user_signed_in? %>
        <div class="btn-group">
          <%= link_to edit_user_registration_path do %>
            <i class="fa fa-pencil fa-lg"></i><span> 账户信息</span>
          <% end %>
        </div>

        <div class="btn-group">
          <%= link_to destroy_user_session_path, method: 'delete' do %>
            <i class="fa fa-external-link fa-lg"></i><span> 退出</span>
          <% end %>
        </div>
      <% end %>

      <div class="btn-group">
        <%= link_to new_user_session_path do %>
          <i class="fa fa-user fa-lg"></i> 登录
        <% end %>
      </div>

      <div class="btn-group">
        <%= link_to new_user_registration_path do %>
          <i class="fa fa-users fa-lg"></i> 注册
        <% end %>
      </div>
    </nav>
  </div>
</header>
