<tr>
  <td><%= line_item.product.title %></td>
  <td>&times; <%= line_item.quantity %></td>
  <td><%= number_to_currency(line_item.total_price) %></td>
  <td>
    <%= link_to(line_item_path(line_item, oper: "plus"), remote: true, method: :patch) do %>
      <i class="fa fa-plus-circle"></i>  
    <% end %>
    <%= link_to(line_item_path(line_item, oper: "minus"), remote: true, method: :patch) do %>
      <i class="fa fa-minus-circle"></i>  
    <% end %>
    <%= link_to(line_item_path(line_item), remote: true, method: :delete) do %>
      <i class="fa fa-times-circle"></i>  
    <% end %>
  </td>
</tr>
  
